@font-face {
    font-family: 'font';
    src: url(BruceForeverRegular-X3jd2.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url("img/backgndhomz2.png");
    font-family: font;
    background-color: #f8f8f8;
    text-align: center;
    margin: 0;
    padding: 0;
   overflow:hidden
   
}

#result {
    font-size: 30px;
    font-weight: bold;
    margin-top: -70px;
    color: #a77222ef;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

 
.style{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-image: url("img/background.png");
    background-position: top;
    justify-content: center;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-container {
    text-align: center;
}
.game-result img {
    max-width: 100px;
    margin: 10px;
}

.score-container {
    margin-top: 20px;

}



section {
    
    max-width: 600px;
    margin: 50px auto;
    margin-top: 10px;
    background-color: #28B4E5; /* Bleu */
    color: #fff; /* Texte en blanc */
    padding: 25px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(233, 235, 235);
    overflow: hidden;
   
}
.choice{
    display: flex;
    width:80;
    justify-content: space-between;
    
}
.style{
    background-color: rgb(205, 203, 202);
    margin: 0;
    padding: 0;
  

}
.style h4{
    font-family: 'font';
    margin-top: 50px;
}
.welcome2 {
    color: #080a0a; /* Couleur de texte légère */
}


 .welcome{
    font: size 100%;
    font-size: xx-large;
    font-family:fantasy;
    color: #46035c;
}

.choice {
    margin: 30px 0;
    
}

.choice h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: #2b0404f0; /* Couleur de texte légère */
}
img {
    width: 60px;
    height: 60px;
    margin: 20px 0;
}


button {
    font-size: 16px;
    padding: 5px 60px;
    margin-top: 10px;
    border: 1px solid  #8813af;
    background-color:#8813af ;
    cursor: pointer;
    color: #ffffff; /* Texte en blanc */
    border-radius: 5px;
    transition:  0.5s ease;
    text-transform: capitalize;
}
button:focus{
    background: #fff;
    color: #d2b7dd;
}


button:hover {
    background-color: #9357be; /* Vert plus foncé au survol */
}
